* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kameron', serif;
  
}

:root{
  --center: 
}

body {
  width: 1000px;
  height: 100vh;
  background-color: rgb(134, 134, 134);
  color: white;
}

.noite {
  width: 414px;
  height: 151px;
  background-color: white;
  border-radius: 10px;
  background: linear-gradient(90deg, #6E1B7B 0%, #310C4E 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}


.div-conteudo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-img {
  position: absolute;
  left: 330px;

  
}

.div-img img{
  width: 100px;
  height: 145px;

}


.marcador{
  width: 10px;
  height: 10px;
}
.spanCidade{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.div-alinhamento{
  display: flex;
}
.data{
  position: relative;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  top: 8px;
  
}
.dia{
  font-weight: 400;
  font-size: 36px;
}
.hora{
  position: absolute;
  top: 130px;
  left: 5px;
}

.cidade{
  font-weight: 400;
  font-size: 14px;
}
.temperatura{
  font-weight: 400;
  font-size: 72px;
  text-align: center;
  display: flex;
  
}
.temperatura span{
  font-size: 50px;
}
.div-left{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}
.div-temperatura{
  display: flex;
}
.span-icon-clima-noite{
 position: relative;
 bottom: 20px;
  
}

.retangulo{
  position: absolute;
  top: 10px;
  left: 140px;
}
.line{
  margin: 0 10px;
  position: relative;
  top: 13px;
}


/* codição sol */

.sol{
  width: 414px;
  height: 151px;
  
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: linear-gradient(90deg, #FF9900 0%, #FFB800 100%);
  
}
