*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
}

body{

    
    display: flex;
    justify-content: center;
    align-content: center;
}
.container{
    width: 450px;
    height: 750px;
    border: 2px solid white;
    background-image: linear-gradient(to top, #FEB054, #fdecdd);
    background-size: cover;
}

.alinhamento-horizontal{
    display: flex;
    align-items: center;
}

.espace-padrao{
  margin: 0px 45px ;   
}
.temp{
    display: flex;
    align-items: center;
}

.temp img{
    width: 100px;
    height: 100px
}

.informacaoDia li{
    display: flex;
    justify-content: space-between;
}

.list-prox-dias{
    display: flex;
}
.list-prox-dias li{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo h1{
    font-weight: 500;
    width: 120px;
    
}
.titulo p{
    color: #9A938C
}
